In [45]:
import numpy as np
import sklearn
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import  metrics

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from keras.callbacks import LearningRateScheduler
from keras.callbacks import ModelCheckpoint
from keras.callbacks import EarlyStopping
from keras.callbacks import History
import tensorflow as tf
from tensorflow import keras
from keras.optimizers import SGD
from keras.models import Sequential
from keras.layers import Dense
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.callbacks import History
from keras.wrappers.scikit_learn import KerasClassifier
import pandas as pd
import os
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.base import ClassifierMixin

print(tf.__version__)

print(keras.__version__)

2.9.0
2.9.0

DataImport

In [46]:

PATH = os.path.join("data", "bank-additional", "bank-additional")

In [47]:



def load_data(filename, path=PATH):
    csv_path = os.path.join(path, filename)
    return pd.read_csv(csv_path,sep=';')

In [48]:
full_data = load_data("bank-additional-full.csv")

In [49]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [50]:
full_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [51]:
full_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [52]:
full_data['y'].value_counts()

no     36548
yes     4640
Name: y, dtype: int64

ładne obrazki data-----

obrazki data

In [53]:

# full_data['age']=full_data['age'].str.split(',')
# full_data['age']=full_data['age'].apply(lambda x:x[1])
# full_data = full_data.astype({"age": 'int64'}, errors='raise')
# full_data.head()

In [54]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
full_data['y'] = label_encoder.fit_transform(full_data['y'])

Data Inspections

In [55]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int32
dtypes: float64(5), int32(1), int64(5), object(10)
memory usage: 6.4+ MB

In [56]:
full_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [57]:
full_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [58]:
full_data['y'].value_counts(normalize=True)

0    0.887346
1    0.112654
Name: y, dtype: float64

In [59]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int32
dtypes: float64(5), int32(1), int64(5), object(10)
memory usage: 6.4+ MB

In [60]:
full_data['loan'].value_counts(normalize=True)

no         0.824269
yes        0.151695
unknown    0.024036
Name: loan, dtype: float64

In [61]:
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)
# full_data[ 'loan' ].replace({'unknown':None},inplace=True)

In [62]:
# full_data['loan'].value_counts(normalize=True)

In [63]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int32
dtypes: float64(5), int32(1), int64(5), object(10)
memory usage: 6.4+ MB

In [64]:
from sklearn.preprocessing import LabelEncoder

# full_data[ 'y' == 'no'] = 0
# full_data[ 'y' == 'yes'] = 1
#
# full_data[ 'default' == 'no'] = 0
# full_data[ 'default' == 'yes'] = 1
#
# full_data[ 'housing' == 'no'] = 0
# full_data[ 'housing' == 'yes'] = 1
#
# full_data[ 'loan' == 'no'] = 0
# full_data[ 'loan' == 'yes'] = 1
label_encoder = LabelEncoder()
full_data['y'] = label_encoder.fit_transform(full_data['y'])
# full_data['default'] = label_encoder.fit_transform(full_data['default'])
# full_data['housing'] = label_encoder.fit_transform(full_data['housing'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
full_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0

In [65]:
full_data['y'].value_counts(normalize=True)

0    0.887346
1    0.112654
Name: y, dtype: float64

In [66]:
full_data.describe(include=['O'])

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
count,41188,41188,41188,41188,41188,41188,41188,41188,41188,41188
unique,12,4,8,3,3,3,2,10,5,3
top,admin.,married,university.degree,no,yes,no,cellular,may,thu,nonexistent
freq,10422,24928,12168,32588,21576,33950,26144,13769,8623,35563

In [67]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [68]:
full_data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,0.112654
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,0.316173
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [69]:
# dupa

In [70]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [71]:
cater=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
cater_no_def=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
numer=['age', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

In [72]:
full_data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,0

train test split

In [73]:
from sklearn.model_selection import train_test_split

from sklearn.model_selection import train_test_split
# cut_data=full_data

_, cut_data = train_test_split(full_data, test_size=0.05, stratify=full_data['y'],random_state=62)
# cut_data=full_data.sample(frac=0.1, random_state=62)


X = cut_data.drop(['y'], axis=1)
y = cut_data['y'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=62)
print("X.shape: {} y.shape: {}".format(X_train.shape, y_train.shape))
print("X.shape: {} y.shape: {}".format(X_test.shape, y_test.shape))

# yesD=trainD[trainD['y'] == 1]
# noD=trainD[trainD['y'] == 0]
#
# noD=noD.sample(n=len(yesD.index),random_state=62)
#
#
# unD=pd.concat([yesD, noD],ignore_index=True)
# print(unD)
# _, unD2 = train_test_split(unD, test_size=0.3, stratify=unD['y'],random_state=62)
# X_train = unD2.drop(['y'], axis=1)
# y_train = unD2['y'].values
#
# X_test = testD.drop(['y'], axis=1)
# y_test = testD['y'].values

X.shape: (1648, 20) y.shape: (1648,)
X.shape: (412, 20) y.shape: (412,)

pipeline definition

In [74]:
from sklearn.base import BaseEstimator, TransformerMixin

# A class to select numerical or categorical columns
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X,y=None):
        return X[self.attribute_names]

In [75]:

num_pipeline = Pipeline([
        ("select_numeric", DataFrameSelector(numer)),
        ("scaler", StandardScaler()),
        ("imputer", SimpleImputer(strategy="median")),
    ])

In [76]:
num_pipeline.fit_transform(X_train)

array([[ 0.55194987,  0.21061595,  1.49133231, ..., -1.39094124,
        -1.22235018, -0.89807109],
       [-0.67419841,  0.21061595, -0.35241536, ..., -0.30504117,
         0.28223969,  0.41546633],
       [-1.24011301, -4.7234858 ,  1.49133231, ..., -1.19931182,
        -1.3247149 , -0.89807109],
       ...,
       [ 0.08035438,  0.21061595, -0.35241536, ...,  0.95119616,
         0.78948834,  0.85421771],
       [-0.67419841,  0.21061595, -0.35241536, ..., -0.45408628,
         0.78605712,  0.85421771],
       [ 0.74058807,  0.21061595, -0.35241536, ...,  0.88731968,
         0.729442  ,  0.35026488]])

In [77]:
# Inspired from stackoverflow.com/questions/25239958
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X], index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [78]:
# from future_encoders import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(cater)),
        ("imputer", MostFrequentImputer()),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore')),
        ("scaler", StandardScaler())
    ])

In [79]:
cat_pipeline.fit_transform(X_train)

array([[-0.59697454,  1.91880645, -0.18755234, ...,  2.83812351,
        -2.42212028, -0.19099211],
       [-0.59697454, -0.52115731, -0.18755234, ..., -0.35234548,
         0.41286141, -0.19099211],
       [-0.59697454, -0.52115731, -0.18755234, ..., -0.35234548,
        -2.42212028,  5.23581828],
       ...,
       [-0.59697454, -0.52115731, -0.18755234, ..., -0.35234548,
         0.41286141, -0.19099211],
       [ 1.67511332, -0.52115731, -0.18755234, ..., -0.35234548,
         0.41286141, -0.19099211],
       [ 1.67511332, -0.52115731, -0.18755234, ..., -0.35234548,
         0.41286141, -0.19099211]])

In [80]:
from sklearn.pipeline import FeatureUnion

preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

In [81]:
class dulicateDeleter(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X,y=None):
        return X.drop_duplicates()

In [82]:
def unknown_number(row):
    bbb=0
    # print(row)
    for sa in row:
        if sa == 'unknown':
            bbb=bbb+1
    return bbb

class unknownDeleter(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X,y=None):
        return X.drop(X[X.apply(lambda row:unknown_number(row), axis=1)>=3].index)

In [83]:
def null_number(row):
    bbb=0
    # print(row)
    for sa in row:
        if pd.isnull(sa):
            bbb=bbb+1
    return bbb

class nullDeleter(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def transform(self, X,y=None):
        return X.drop(X[X.apply(lambda row:null_number(row), axis=1)>=1].index)

In [84]:
num_pip = Pipeline([
        ("select_cat", DataFrameSelector(numer)),
        ("select_cat", nullDeleter()),
        ("select_cat", unknownDeleter()),
        ("select_cat", dulicateDeleter()),
        ("imputer", SimpleImputer(missing_values=np.nan, strategy="mean")),
    ])

ValueError: Names provided are not unique: ['select_cat', 'select_cat', 'select_cat', 'select_cat', 'imputer']

In [ ]:
cat_pip = Pipeline([
        ("select_cat", DataFrameSelector(cater)),
        ("select_cat", nullDeleter()),
        ("select_cat", unknownDeleter()),
        ("select_cat", dulicateDeleter()),
        ("imputer", SimpleImputer(missing_values=(np.nan,"unknown"), strategy="most_frequent")),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore'))
    ])

In [ ]:
defalt_pip = Pipeline([
        ("select_'default'", DataFrameSelector(['default'])),
        ("delete_null", nullDeleter()),
        ("delete_unknown", unknownDeleter()),
        ("delete_duplicates", dulicateDeleter()),
        ("imputer", SimpleImputer(missing_values=np.nan, strategy="most_frequent")),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore')),
    ])

In [ ]:
union= FeatureUnion(transformer_list=[
        ("num_pipeline", num_pip),
        ("cat_pipeline", cat_pip),
        ("cat_pipeline", defalt_pip)
    ])

In [ ]:
main_pip = Pipeline([
        ("select_cat", union()),
        ("scaler", StandardScaler())
    ])

model learing

In [ ]:
from sklearn.model_selection import StratifiedKFold
models = []
seed=123
kfold = StratifiedKFold(n_splits=5)

In [ ]:
def print_model_stats(model):
    X_test_pred=model.predict(X_test)
    print("precision_score: {}".format(metrics.precision_score(y_test, X_test_pred) ))
    print("recall_score: {}".format( metrics.recall_score(y_test, X_test_pred) ))
    print("f1_score: {}".format( metrics.f1_score(y_test, X_test_pred) ))
    print("accuracy_score: {}".format( metrics.accuracy_score(y_test, X_test_pred) ))

In [ ]:

class CustomClassifier(BaseEstimator, ClassifierMixin):

    def __init__(self):
        pass

    def fit(self, X, y=None):
        pass

    def predict(self, X, y=None):
        return np.zeros((len(X)))

    def predict_proba(self, X, y=None):
        pass

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', CustomClassifier())])


param_grid = {

}

grid_44 = GridSearchCV(pipe, param_grid, cv=kfold)

grid_44.fit(X_train, y_train)
models.append(('log', grid_44.best_estimator_))
print(grid_44.best_params_)
print_model_stats(grid_44.best_estimator_)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', LogisticRegression(max_iter=1000))])


param_grid = {
            'classifier__C': [ 0.01, 0.1, 1, 10, 100],
            'classifier__penalty': ['l1', 'l2', 'elasticnet', 'none']
}

grid_4 = GridSearchCV(pipe, param_grid, cv=kfold)

grid_4.fit(X_train, y_train)

models.append(('log', grid_4.best_estimator_))
print(grid_4.best_params_)
print_model_stats(grid_4.best_estimator_)

resoult comarison

In [ ]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', SVC(kernel="rbf"))])


param_grid = {
            'classifier__gamma': [10**(-3), 10**(-2),10**(-1), 1, 10, 100,1000],
            'classifier__C': [ 10**(-2), 10**(-1), 1, 10**(1), 10**(2), 10**(3)]
}

grid_1 = GridSearchCV(pipe, param_grid, cv=kfold)

grid_1.fit(X_train, y_train)

models.append(('rbf', grid_1.best_estimator_))
print(grid_1.best_params_)
print_model_stats(grid_1.best_estimator_)

In [ ]:
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', SVC(kernel='linear'))])


param_grid = {
            'classifier__C': [10**(-2), 10**(-1), 1, 10**(1), 10**(2)]
}

grid_2 = GridSearchCV(pipe, param_grid, cv=kfold)

grid_2.fit(X_train, y_train)


models.append(('linear', grid_2.best_estimator_))
print(grid_2.best_params_)
print_model_stats(grid_2.best_estimator_)

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', SVC(kernel='poly'))])


param_grid = {
            'classifier__degree': [1,2,3,4],
            'classifier__C': [10**(-2), 10**(-1), 1, 10**(1), 10**(2)],
            'classifier__coef0': [0, 1]
}

grid_3 = GridSearchCV(pipe, param_grid, cv=kfold)

grid_3.fit(X_train, y_train)
models.append(('poly', grid_3.best_estimator_))
print(grid_3.best_params_)
print_model_stats(grid_3.best_estimator_)

deep shit

In [ ]:
def show_history(history):
    pd.DataFrame(history.history).plot(figsize=(8, 5))
    plt.grid(True)
    plt.gca().set_ylim(0, 1)
    plt.show()

In [ ]:
def nn1():
    model = Sequential()

    model.add(Dense(100, input_dim=preprocess_pipeline.transform(X_train).shape[1], activation='linear'))
    model.add(Dense(50, activation='linear'))
    model.add(Dense(10, activation='linear'))
    model.add(Dense(1, activation='sigmoid'))

    model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
    return model

model = keras.wrappers.scikit_learn.KerasClassifier(nn1, epochs=30, batch_size=200, validation_split=0.2)
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', model)])
history = History()

trained_model = pipe.fit(X_train, y_train, classifier__callbacks=[history])
print_model_stats(trained_model)
show_history(history)
models.append(trained_model)

In [ ]:
def nn2():
    model = Sequential()

    model.add(Dense(100, input_dim=preprocess_pipeline.transform(X_train).shape[1], activation='linear'))
    model.add(Dropout(0.4))
    model.add(Dense(50, activation='linear'))
    model.add(Dropout(0.4))
    model.add(Dense(10, activation='linear'))
    model.add(Dropout(0.4))
    model.add(Dense(1, activation='sigmoid'))


    model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
    return model

model = keras.wrappers.scikit_learn.KerasClassifier(nn2, epochs=100, batch_size=200,  validation_split=0.2)
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', model)])
history = History()

trained_model = pipe.fit(X_train, y_train, classifier__callbacks=[history])
print_model_stats(trained_model)
show_history(history)
models.append(trained_model)

In [ ]:
from keras.layers import Flatten, BatchNormalization


def nn3():
    model = Sequential()

    model.add(Flatten(input_shape=[60]))
    model.add(BatchNormalization())
    model.add(Activation("relu"))
    model.add(Dropout(0.3))

    model.add(Dense(300))
    model.add(BatchNormalization())
    model.add(Activation("relu"))
    model.add(Dropout(0.3))

    model.add(Dense(100))
    model.add(BatchNormalization())
    model.add(Activation("relu"))
    model.add(Dropout(0.3))

    model.add(Dense(1,activation="sigmoid"))


    model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
    return model

model = keras.wrappers.scikit_learn.KerasClassifier(nn3, epochs=1000, batch_size=200,  validation_split=0.2)
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', model)])
history = History()
early_stopping = EarlyStopping(monitor='val_loss', patience=10, mode='min', verbose=1)
trained_model = pipe.fit(X_train, y_train, classifier__callbacks=[history,early_stopping])
print_model_stats(trained_model)
show_history(history)
models.append(trained_model)

garbage

In [ ]:

# class TwoLayerFeedForward:
#     def __call__():
#         clf = Sequential()
#         clf.add(Dense(9, activation='relu', input_dim=X_train.shape[1]))
#         clf.add(Dense(9, activation='relu'))
#         clf.add(Dense(3, activation='softmax'))
#         clf.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
#         return clf
from keras.wrappers.scikit_learn import KerasClassifier
def twoLayerFeedForward():
    # keras.backend.clear_session()
    clf = Sequential()
    clf.add(Dense(12, activation='relu', input_dim=preprocess_pipeline.transform(X_train).shape[1]))
    clf.add(Dense(9, activation='relu'))
    clf.add(Dense(1, activation='sigmoid'))
    clf.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
    return clf
def duuuu():

    return model
model = KerasClassifier(duuuu, epochs=30, batch_size=500, verbose=0)

In [ ]:
X_train_trans=preprocess_pipeline.transform(X_train)
X_test_trans=preprocess_pipeline.transform(X_test)


model = Sequential()

# create first hidden layer
model.add(Dense(100, input_dim=X_train_trans.shape[1], activation='linear'))
model.add(Dense(50, activation='linear'))
model.add(Dense(10, activation='linear'))
# model.add(Dropout(dr))
model.add(Dense(1, activation='sigmoid'))


model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
# model = keras.models.Sequential([
#     keras.layers.Flatten(input_shape=[51]),
#     keras.layers.Dense(300, activation="relu"),
#     keras.layers.Dense(100, activation="relu"),
#     keras.layers.Dense(1, activation="softmax")
# ])

# model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
history = model.fit(X_train_trans, y_train, epochs=100, batch_size=32, validation_data=(X_test_trans, y_test))
val_acc = np.mean(history.history['val_acc'])
# print("\n%s: %.2f%%" % ('val_acc', val_acc*100))
# # history = model.fit(X_train_trans, y_train, epochs=30,
# #                     validation_data=(X_test_trans, y_test))

In [ ]:
dupa

In [ ]:
precision_score = []
recall_score = []
f1_score = []
accuracy_score = []
for name, model in models:
    print(name)
    print("precision_score: {}".format(metrics.precision_score(y_test, model.predict(X_test)) ))
    print("recall_score: {}".format( metrics.recall_score(y_test, model.predict(X_test)) ))
    print("f1_score: {}".format( metrics.f1_score(y_test, model.predict(X_test)) ))
    print("accuracy_score: {}".format( metrics.accuracy_score(y_test, model.predict(X_test)) ))
    precision_score.append(metrics.precision_score(y_test, model.predict(X_test)))
    recall_score.append(metrics.recall_score(y_test, model.predict(X_test)))
    f1_score.append( metrics.f1_score(y_test, model.predict(X_test)))
    accuracy_score.append(metrics.accuracy_score(y_test, model.predict(X_test)))

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

from keras.callbacks import History

keras.backend.clear_session()
np.random.seed(42)
tf.random.set_seed(42)

model = Sequential()

# create first hidden layer
model.add(Dense(100, input_dim=X_train.shape[1], activation="sigmoid"))

# create additional hidden layers
# for i in range(1,len(lyrs)):
#         model.add(Dense(lyrs[i], activation=act))
model.add(Dense(50,activation="sigmoid"))
model.add(Dense(10,activation="sigmoid"))
# add dropout, default is none

# model.add(Dropout(dr))

# create output layer
model.add(Dense(1, activation='sigmoid'))  # output layer

model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

print(model.summary())
pipe = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', model)])
training = model.fit(X_train, y_train, epochs=30, batch_size=32, validation_split=0.2, verbose=0)
val_acc = np.mean(training.history['val_acc'])
print("\n%s: %.2f%%" % ('val_acc', val_acc*100))

Playground

In [ ]:


#
# Generate dummy data.
#

import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.optimizers import SGD

# Generate dummy data
import numpy as np
import pandas as pd

X_train = np.random.random((1000, 3))
y_train = pd.get_dummies(np.argmax(X_train[:, :3], axis=1)).values
X_test = np.random.random((100, 3))
y_test = pd.get_dummies(np.argmax(X_test[:, :3], axis=1)).values

In [ ]:
#
# Build a KerasClassifier wrapper object.
# I had trouble getting the callable class approach to work. The method approach seems to be pretty universial anyway.
#



# Doesn't work?
# class TwoLayerFeedForward:
#     def __call__():
#         clf = Sequential()
#         clf.add(Dense(9, activation='relu', input_dim=3))
#         clf.add(Dense(9, activation='relu'))
#         clf.add(Dense(3, activation='softmax'))
#         clf.compile(loss='categorical_crossentropy', optimizer=SGD())
#         return clf

def twoLayerFeedForward():
    clf = Sequential()
    clf.add(Dense(9, activation='relu', input_dim=3))
    clf.add(Dense(9, activation='relu'))
    clf.add(Dense(3, activation='softmax'))
    clf.compile(loss='categorical_crossentropy', optimizer=SGD(), metrics=["accuracy"])
    return clf


# clf = KerasClassifier(TwoLayerFeedForward(), epochs=100, batch_size=500, verbose=0)
clf = KerasClassifier(twoLayerFeedForward, epochs=100, batch_size=500, verbose=0)

In [ ]:
from sklearn.model_selection import StratifiedKFold, cross_val_score

trans = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

import pandas as pd

# Keras classifiers work with one hot encoded categorical columns (e.g. [[1 0 0], [0 1 0], ...]).
# StratifiedKFold works with categorical encoded columns (e.g. [1 2 3 1 ...]).
# This requires juggling the representation at shuffle time versus at runtime.
scores = []
for train_idx, test_idx in trans.split(X_train, y_train.argmax(axis=1)):
    X_cv, y_cv = X_train[train_idx], pd.get_dummies(y_train.argmax(axis=1)[train_idx]).values
    clf.fit(X_cv, y_cv)
    scores.append(clf.score(X_cv, y_cv))

In [ ]:


scores