In [319]:
import numpy as np
import sklearn

In [320]:
import os

TITANIC_PATH = os.path.join("data", "bank_data")

In [321]:
import pandas as pd


def load_titanic_data(filename, titanic_path=TITANIC_PATH):
    csv_path = os.path.join(titanic_path, filename)
    return pd.read_csv(csv_path)

In [322]:
full_data = load_titanic_data("bank-full.csv")

In [323]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index,"age   45211 non-null  object
 1   job""        45211 non-null  object
 2   marital""    45211 non-null  object
 3   education""  45211 non-null  object
 4   default""    45211 non-null  object
 5   balance""    45211 non-null  int64
 6   housing""    45211 non-null  object
 7   loan""       45211 non-null  object
 8   contact""    45211 non-null  object
 9   day""        45211 non-null  int64
 10  month""      45211 non-null  object
 11  duration""   45211 non-null  int64
 12  campaign""   45211 non-null  int64
 13  pdays""      45211 non-null  int64
 14  previous""   45211 non-null  int64
 15  poutcome""   45211 non-null  object
 16  y"""         45211 non-null  object
dtypes: int64(6), object(11)
memory usage: 4.0+ MB

In [324]:
full_data.head()

,"index,""age","job""""","marital""""","education""""","default""""","balance""""","housing""""","loan""""","contact""""","day""""","month""""","duration""""","campaign""""","pdays""""","previous""""","poutcome""""","y"""""""
0,"0,""58","management""""","married""""","tertiary""""","no""""",2143,"yes""""","no""""","unknown""""",5,"may""""",261,1,-1,0,"unknown""""","no"""""""
1,"1,""44","technician""""","single""""","secondary""""","no""""",29,"yes""""","no""""","unknown""""",5,"may""""",151,1,-1,0,"unknown""""","no"""""""
2,"2,""33","entrepreneur""""","married""""","secondary""""","no""""",2,"yes""""","yes""""","unknown""""",5,"may""""",76,1,-1,0,"unknown""""","no"""""""
3,"3,""47","blue-collar""""","married""""","unknown""""","no""""",1506,"yes""""","no""""","unknown""""",5,"may""""",92,1,-1,0,"unknown""""","no"""""""
4,"4,""33","unknown""""","single""""","unknown""""","no""""",1,"no""""","no""""","unknown""""",5,"may""""",198,1,-1,0,"unknown""""","no"""""""

In [325]:
full_data['marital""']

0         married""
1          single""
2         married""
3         married""
4          single""
            ...
45206     married""
45207    divorced""
45208     married""
45209     married""
45210     married""
Name: marital"", Length: 45211, dtype: object

In [326]:

# full_data.values = full_data.values.str.replace('"', '')

In [327]:
full_data.head()

,"index,""age","job""""","marital""""","education""""","default""""","balance""""","housing""""","loan""""","contact""""","day""""","month""""","duration""""","campaign""""","pdays""""","previous""""","poutcome""""","y"""""""
0,"0,""58","management""""","married""""","tertiary""""","no""""",2143,"yes""""","no""""","unknown""""",5,"may""""",261,1,-1,0,"unknown""""","no"""""""
1,"1,""44","technician""""","single""""","secondary""""","no""""",29,"yes""""","no""""","unknown""""",5,"may""""",151,1,-1,0,"unknown""""","no"""""""
2,"2,""33","entrepreneur""""","married""""","secondary""""","no""""",2,"yes""""","yes""""","unknown""""",5,"may""""",76,1,-1,0,"unknown""""","no"""""""
3,"3,""47","blue-collar""""","married""""","unknown""""","no""""",1506,"yes""""","no""""","unknown""""",5,"may""""",92,1,-1,0,"unknown""""","no"""""""
4,"4,""33","unknown""""","single""""","unknown""""","no""""",1,"no""""","no""""","unknown""""",5,"may""""",198,1,-1,0,"unknown""""","no"""""""

In [328]:
full_data.columns = full_data.columns.str.replace('"', '')
full_data=full_data.rename({'index,age': 'age'}, axis=1)
full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,"0,""58","management""""","married""""","tertiary""""","no""""",2143,"yes""""","no""""","unknown""""",5,"may""""",261,1,-1,0,"unknown""""","no"""""""
1,"1,""44","technician""""","single""""","secondary""""","no""""",29,"yes""""","no""""","unknown""""",5,"may""""",151,1,-1,0,"unknown""""","no"""""""
2,"2,""33","entrepreneur""""","married""""","secondary""""","no""""",2,"yes""""","yes""""","unknown""""",5,"may""""",76,1,-1,0,"unknown""""","no"""""""
3,"3,""47","blue-collar""""","married""""","unknown""""","no""""",1506,"yes""""","no""""","unknown""""",5,"may""""",92,1,-1,0,"unknown""""","no"""""""
4,"4,""33","unknown""""","single""""","unknown""""","no""""",1,"no""""","no""""","unknown""""",5,"may""""",198,1,-1,0,"unknown""""","no"""""""

In [329]:
full_data['age']=full_data['age'].str.replace('"', '')
full_data['job']=full_data['job'].str.replace('"', '')
full_data['marital']=full_data['marital'].str.replace('"', '')
full_data['education']=full_data['education'].str.replace('"', '')
full_data['default']=full_data['default'].str.replace('"', '')

full_data['housing']=full_data['housing'].str.replace('"', '')
full_data['loan']=full_data['loan'].str.replace('"', '')
full_data['contact']=full_data['contact'].str.replace('"', '')

full_data['month']=full_data['month'].str.replace('"', '')



full_data['poutcome']=full_data['poutcome'].str.replace('"', '')
full_data['y']=full_data['y'].str.replace('"', '')
full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,"0,58",management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,"1,44",technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,"2,33",entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,"3,47",blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,"4,33",unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [330]:

full_data['age']=full_data['age'].str.split(',')
full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,"[0, 58]",management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,"[1, 44]",technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,"[2, 33]",entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,"[3, 47]",blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,"[4, 33]",unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [331]:

full_data['age']=full_data['age'].apply(lambda x:x[1])

In [332]:
full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [333]:
full_data.describe()

,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [334]:
from sklearn.preprocessing import LabelEncoder

# full_data[ 'y' == 'no'] = 0
# full_data[ 'y' == 'yes'] = 1
#
# full_data[ 'default' == 'no'] = 0
# full_data[ 'default' == 'yes'] = 1
#
# full_data[ 'housing' == 'no'] = 0
# full_data[ 'housing' == 'yes'] = 1
#
# full_data[ 'loan' == 'no'] = 0
# full_data[ 'loan' == 'yes'] = 1
label_encoder = LabelEncoder()
full_data['y'] = label_encoder.fit_transform(full_data['y'])
# full_data['default'] = label_encoder.fit_transform(full_data['default'])
# full_data['housing'] = label_encoder.fit_transform(full_data['housing'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
# full_data['loan'] = label_encoder.fit_transform(full_data['loan'])
full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0

In [335]:
from sklearn.model_selection import train_test_split

X = full_data.drop(['y'], axis=1)
y = full_data['y'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
print("X.shape: {} y.shape: {}".format(X_train.shape, y_train.shape))
print("X.shape: {} y.shape: {}".format(X_test.shape, y_test.shape))

X.shape: (36168, 16) y.shape: (36168,)
X.shape: (9043, 16) y.shape: (9043,)